[submodule ".registry"]
	path = .registry
	url = https://github.com/etiennebacher/etiennebacher.r-universe.dev
	branch = HEAD
[submodule "altdoc"]
	path = altdoc
	url = https://github.com/etiennebacher/altdoc
[submodule "conductor"]
	path = conductor
	url = https://github.com/etiennebacher/conductor
[submodule "prompter"]
	path = prompter
	url = https://github.com/etiennebacher/prompter
[submodule "shinyfullscreen"]
	path = shinyfullscreen
	url = https://github.com/etiennebacher/shinyfullscreen
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
