[submodule ".registry"]
	path = .registry
	url = https://github.com/etiennebacher/etiennebacher.r-universe.dev
	branch = HEAD
[submodule "altdoc"]
	path = altdoc
	url = https://github.com/etiennebacher/altdoc
[submodule "conductor"]
	path = conductor
	url = https://github.com/etiennebacher/conductor
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
[submodule "prompter"]
	path = prompter
	url = https://github.com/etiennebacher/prompter
[submodule "shinyfullscreen"]
	path = shinyfullscreen
	url = https://github.com/etiennebacher/shinyfullscreen
[submodule "testthat"]
	path = testthat
	url = https://github.com/r-lib/testthat
	registered = false
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
[submodule "tinytest"]
	path = tinytest
	url = https://github.com/markvanderloo/tinytest
	subdir = pkg
	registered = false
