[submodule ".registry"]
	path = .registry
	url = https://github.com/etiennebacher/etiennebacher.r-universe.dev
	branch = HEAD
[submodule "altdoc"]
	path = altdoc
	url = https://github.com/etiennebacher/altdoc
	branch = v0.4.0
[submodule "astgrepr"]
	path = astgrepr
	url = https://github.com/etiennebacher/astgrepr
[submodule "conductor"]
	path = conductor
	url = https://github.com/etiennebacher/conductor
	branch = v0.1.1
[submodule "flint"]
	path = flint
	url = https://github.com/etiennebacher/flint
	branch = v0.0.6
[submodule "loc"]
	path = loc
	url = https://github.com/etiennebacher/loc
	branch = v0.0.1
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = v0.19.1
[submodule "prompter"]
	path = prompter
	url = https://github.com/etiennebacher/prompter
	branch = v1.2.0
[submodule "shinyfullscreen"]
	path = shinyfullscreen
	url = https://github.com/etiennebacher/shinyfullscreen
	branch = v1.1.0
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
	branch = v0.10.0
[submodule "tinytest"]
	path = tinytest
	url = https://github.com/markvanderloo/tinytest
	subdir = pkg
	registered = false
